/* Fit to window width */

section > main > div {
  width: 100% !important;
  max-width: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Remove horizontal gaps under photos */

article div[style] > div {
  margin-bottom: 0 !important;
}

/* Remove vertical gaps between photos */

article div[style] > div > div {
  margin-right: 0 !important;
}
